<h4>
 <p align="center">
  <img alt="Reolink Approval" src="https://img.shields.io/badge/reolink-approved-blue?style=flat-square">
  <img alt="GitHub" src="https://img.shields.io/github/license/ReolinkCameraApi/reolink-python-api?style=flat-square">
  <img alt="GitHub tag (latest SemVer)" src="https://img.shields.io/github/v/tag/ReolinkCameraApi/reolink-python-api?style=flat-square">
  <img alt="PyPI" src="https://img.shields.io/pypi/v/reolink-api?style=flat-square">
  <img alt="Discord" src="https://img.shields.io/discord/773257004911034389?style=flat-square">
 </p>
</h4>
